@import "tailwindcss";


/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer base {
  body {
    @apply bg-primary text-zinc-100;
  }
}

@theme{


    --color-primary: hsl(0,0%,5%);
    --color-secondary: hsl(0,0%,10%);
    --color-accent: hsl(0,0%,15%);
    
    --color-accent-lighter: hsl(0,0%,50%);
    --color-border:hsl(0,0%,50%);

    --color-text-primary:hsl(0,0%,95%);
    --color-text-secondary:hsl(0,0%,70%);
    


}